<div class="divscreen">
  <div class="suscribe">
    <form class="pure-form pure-form-aligned" method="post" action="/login">
      <fieldset>
        <div class="pure-control-group1">
          <input id="name" type="text" placeholder="Username" name="user[username]" autofocus>
        </div>

        <div class="pure-control-group2">
          <input id="password" type="password" placeholder="Password" name="user[password]">
        </div>
      
        <div class="ola">
          <button type="submit" class="pure-button pure-button-primary">Login</button>
        </div>

        <div class="oli">
          <p> Not registered yet ? </p>
        </div>

        <div class="ole">
          <button class="pure-button pure-button-primary"><a href="/register" style="color:white;">Register</a></button>
        </div>
      </fieldset>
    </form>
  </div>
</div>