<!--  Linked to the profile page  - -->

<div class="bigform">
  <form class="pure-form" method="post" action="/folders">
    <input type="text" placeholder="Title of the folder" required
      name="folder[title]">
    <button class="button-secondary pure-button">Create a new folder</button>
  </form>

</div>