<!-- Linked to the profile page  -->

<form class="pure-form" method="post" action="/users/<%= user.id %>">
    <input type="text" placeholder="Title of the folder" required
    name="folder[title]">
</form>