<!--  Linked to the profile page  - -->

<h1> Hello </h1>

<form class="pure-form" method="post" action="/folders">
  <input type="text" placeholder="Title of the folder" required
    name="folder[title]">

  <button>Go</button>
</form>