<!-- on folders page/ index  -->
<h2><%= @folder.title %></h2>

<% @folder.users.each do |user| %>
  <%= user.username %>
<% end %>

<!-- rajouter les links  -->

<div class="addlink">
<h1><a href="/links/new?folder_id=<%= @folder.id %>">add a URL</a></h1>
</div>

<% @folder.links.each do |link| %>
  <%= link.url %>
<% end %> 