<!-- on folders page/ index  -->

<!-- rajouter les links  -->
<div class="listlink">
  <section class="post">
      <h2 class="post-title"><a href="/links/new?folder_id=<%= @folder.id %>">add a URL</a></h2>
  </section>
  <h1 class="content-subhead">All the Links</h1>
  <% @folder.links.each do |link| %>
    <div class="post">
      <section class="post">
        <header class="post-header">
          <h2 class="post-title">Link Title</h2>
          <p class="link">Link description</p>
          <p class="link"><%= link.url %></p>
        </header>
      </section>
    </div>
  <% end %> 
</div>


    

