<!-- to change your image for instance --> 
<!-- Show on an other page -->

<h1>Users Edit</h1>

<%= @user.username %>

<h2>Edit Profile</h2>
<form id="register" method="post" action="/users/<%= @user.id %>" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="put">
  <div class="form-group">
    <label for="username">Username</label>
    <input name="user[username]" type="text" class="form-control" id="username" placeholder="Username" value="<%= @user.username %>">
  </div>
 <div class="form-group">
   <label for="image">Profile Pic</label>
   <input name="user[image]" type="file" class="form-control" id="image" placeholder="image" value="<%= @user.image %>">
 </div>
   <button type="submit" class="btn btn-default">Edit</button>
 </form>