<h1>Users Show</h1>


<%= @user.username %>


<div class="addfile">
<h1><a href="/folders/new">add a folder</a></h1>
</div>

<% @folders.each do |folder| %>
  <a href="/folders/<%= folder.id %>"><h2><%= folder.title %></h2></a>
<% end %>

