

<!--   <div class=”row”> -->
    <div class="pure-g">
          <div class="pure-u-1-6"> 
            <a style="display:block" href="/folders/new">
              <div class="thumbnailnew">
              </div>
              </a>
            </div>
            <% if @user.folders.count > 0 %>
             <% @user.folders.each do |folder| %>
              <div class="pure-u-1-6"> 
                 <div class="thumbnail">
                 <div class="colorstyle" style="background-color:<%= colors[folder.id%15] %>"></div>
                  <span><a href="/folders/<%= folder.id %>"><%= folder.title %></a></span>
                   
                     </div>
                  </div>
                <% end %>
              <% end %>
      </div>
<!--     </div> -->


