<h1> hello </h1>

<a href="/folder/new">Create a new folder</a>

<div class="allfiles">
<h2> All folders </h2>
<% @user.folders.each do |folder| %>
  
    <%= user.folder.title %>
    <% end %>
</div>
