<div class="bigform">
  <form class="pure-form" method="post" action="/links">
    <input type="hidden" value="<%= params[:folder_id] %>" name="link[folder_id]">
    <input type="text" placeholder="url of the file" required
      name="link[url]">
    <button>Go</button>
  </form>
</div>