<div class="bigform">
  <form class="pure-form" method="post" action="/links">
    <input type="hidden" value="<%= params[:folder_id] %>" name="link[folder_id]">
    <input type="text" placeholder="Url" required
      name="link[url]">
    <button class="button-secondary pure-button">  Add a new link to folder</button>
  </form>
</div>