.pure-g {
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
}



.thumbnail{
  border: solid 1px black;
  margin: 10px;
}

.thumbnailnew {
  border: solid 1px black;
  margin: 10px;
  height: 168px;
  background-image: url("/images/noun_40980_cc.jpg");
  background-size: cover;
}

