.pure-g {
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
}



.thumbnail{
  border: solid 1px black;
  margin: 10px;
  height: 168px;
  span {
    color: #000;
    font-weight: bold;
    display: block;
    margin-top: 0.41666666666666663em;
    margin-left: 9px;
  }
}

.colorstyle{
  width: 11.3em;
  height: 8.333333333333332em;
  margin-top: 5px;
  margin-left: 9px;
}

.thumbnailnew {
  margin: 10px;
  height: 168px;
  background-image: url("/images/noun_40980_cc.jpg");
  background-size: cover;
}

.friend {
position: absolute;
top: 5px;
right: 10px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}