<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= css :application %>
  <%= js :application %>
</head>
<body>
  <header>
    <div>
        <div class="header">
            <div class="pure-menu pure-menu-horizontal">
                <a class="pure-menu-heading" href="">Photo Gallery</a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Users</a></li>
                    <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
  </header>
<%= yield %>
</body>
</html>          